{% extends "cars/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <div class="login-header">
            <div class="logo">FastAvto</div>
            <h1>Вход в систему</h1>
            <p class="welcome-text">Войдите в свой аккаунт для бронирования автомобилей</p>
        </div>

        {% if form.errors or messages %}
        <div class="messages-container">
            {% if messages %}
                {% for msg in messages %}
                    <div class="message">{{ msg }}</div>
                {% endfor %}
            {% else %}
                {% for error in form.non_field_errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        <form id="loginForm" class="login-form" method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <div class="input-wrapper">
                <label>Никнейм</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label>Пароль</label>
                {{ form.password }}
            </div>


            <input type="submit" class="login-button" value="Войти">

            <div class="form-footer">
                <p class="register-link">
                    Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
                </p>
                <a href="{% url 'index' %}" class="back-link">
                    ← Вернуться на главную
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}