{% extends "cars/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
{% if form.errors or messages %}
    <div class="messages-container">
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible" style="margin-top: 50px;">
            {{ msg }}
            <!--onclick="this.parentElement.style.display='none'
            Это часть кода написанная на js и она используется, чтобы скрывать сообщение-->
            <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="profile-container">
    <form method="post" action="{% url 'users:profile' %}">
        {% csrf_token %}
        <div class="profile-info-card">
            <div class="profile-fields">
                <div class="profile-field">
                    <span class="profile-nickname"><label class="profile-nickname">Никнейм:</label>
                        {{ form.username }}</span>
                </div>
                <div class="profile-field">
                    <span class="profile-fullname"><label class="profile-fullname">Имя:</label>
                        {{ form.first_name }}</span>
                </div>
                <div class="profile-field">
                    <span class="profile-name"><label class="profile-name">Фамилия:</label>
                        {{ form.last_name }}</span>
                </div>
                <div class="profile-field">
                    <span class="profile-name"><label class="profile-name">Телефон:</label>
                        {{ form.phone_number }}</span>
                </div>
                <label class="phone-text">телефон можно не заполнять</label>
            </div>

            <div class="profile-actions">
                <button class="action-button edit-button">
                    <span class="button-icon">✎</span>
                    Редактировать профиль
                </button>
            </div>
        </div>
    </form>
    {% include "cars/basket.html" %}
</div>

<script src="{% static 'js/phone.js' %}"></script>
{% endblock %}