{% extends "cars/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="register-wrapper">
    <div class="register-box">
        <div class="register-header">
            <div class="logo_2">FastAvto</div>
            <h1>Создать аккаунт</h1>
            <p class="welcome-text">Зарегистрируйтесь для бронирования автомобилей</p>
        </div>

        {% if form.errors %}
        <div class="messages-container">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <form id="registerForm" class="register-form" method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}

            <div class="input-wrapper">
                <label>Никнейм</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label>Имя</label>
                {{ form.first_name }}
            </div>

            <div class="input-wrapper">
                <label>Фамилия</label>
                {{ form.last_name }}
            </div>

            <div class="input-wrapper">
                <label>Пароль</label>
                {{ form.password1 }}
            </div>

            <div class="input-wrapper">
                <label>Повторить пароль</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="register-button">
                Зарегистрироваться
            </button>

            <a type="button" class="back-link" href="{% url 'users:login' %}">
                Уже есть аккаунт? Войти
            </a>

        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}