{% extends "cars/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="register-wrapper">
    <div class="register-box">
        <div class="register-header">
            <div class="logo">FastAvto</div>
            <h1>Создать аккаунт</h1>
            <p class="welcome-text">Зарегистрируйтесь для бронирования автомобилей</p>
        </div>

        <form id="registerForm" class="register-form" method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}

            {% if form.errors %}
                <ul id="errorMessage" class="message error-message">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="form-group">
                <div class="input-wrapper">
                    {{ form.username }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    {{ form.first_name }}
                </div>

                <div class="input-wrapper">
                    {{ form.last_name }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    {{ form.password1 }}
                </div>

            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    {{ form.password2 }}
                </div>
            </div>

            <button type="submit" class="register-button">
                Зарегистрироваться
            </button>

            <a type="button" class="back-link" href="{% url 'users:login' %}">
                    Уже есть аккаунт? Войти
            </a>

        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}