{% if baskets %}
<div class="bookings-section">
    <h2 class="section-title">Бронирования</h2>
    <div class="bookings-list">
        {% for basket in baskets %}
        <div class="bookings-list">
            {% if basket.status == 'active' %}
            <div class="booking-item">
                <div class="booking-car">
                    <h4>{{ basket.car.name }}</h4>
                    <a href="{% url 'cars:cheque' basket.car.id %}" class="booking-status">Показать чек</a>
                </div>
                <div class="active-status">Оплачено</div>
                <a href="{% url 'cars:basket_delete' basket.id %}" class="buck">🗑️</a>
            </div>
            {% else %}
             <div class="process-booking-item">
                <div class="booking-car">
                    <h4>{{ basket.car.name }}</h4>
                    <a href="{% url 'cars:cheque' basket.car.id %}" class="booking-status">Показать чек</a>
                </div>
                <div class="process-status">Оплатите в салоне</div>
                <a href="{% url 'cars:basket_delete' basket.id %}" class="buck">🗑️</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% else %}
<div class="bookings-section">
    <div class="empty-state">
        <h2>Нет активных бронирований. Перейдите в каталог</h2>
    </div>
</div>
{% endif %}
