{% extends "cars/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/page.css' %}">
{% endblock %}

{% block contentCategories %}
<div class="widget-header">
    <h1> Категории</h1>
    <div class="header-buttons">
        <!--Этот for предназначен для отображения таблички с категориями-->
        {% for category in categories %}
        <a href="{% url 'cars:category' category.id %}" class="table-row economy-row">
            <div class="row-content">
                <span class="row-title">{{ category.name }}</span>
            </div>
        </a>
        {% endfor %}
        <a href="{% url 'cars:index' %}" class="table-row economy-row">
            <div class="row-content">
                <span class="row-title">Все машины</span>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="element">
    <div class="filter-row">
        <span class="filter-label">Фильтр цен</span>
        <div class="filter-options">
            <a href="
            {% if current_category %}
                {% url 'cars:category' current_category %}?price=1000-2000
            {% else %}
                {% url 'cars:index' %}?price=1000-2000
            {% endif %}" class="filter-link">
                1 000 ₽ - 2 000 ₽
            </a>
            <a href="
            {% if current_category %}
                {% url 'cars:category' current_category %}?price=2000-3000
            {% else %}
                {% url 'cars:index' %}?price=2000-3000
            {% endif %}" class="filter-link">
                2 000 ₽ - 3 000 ₽
            </a>
            <a href="{% if current_category %}
                {% url 'cars:category' current_category %}?price=3000-5000
            {% else %}
                {% url 'cars:index' %}?price=3000-5000
            {% endif %}" class="filter-link">
                3 000 ₽ - 5 000 ₽
            </a>
            <a href="
            {% if current_category %}
                {% url 'cars:category' current_category %}?price=5000
            {% else %}
                {% url 'cars:index' %}?price=5000
            {% endif %}" class="filter-link">
                более 5 000 ₽
            </a>
            <a href="{% url 'cars:index' %}" class="filter-link">Сбросить фильтр</a>
        </div>
    </div>
</div>
<div class="image-container">
    <!--Этот for предназначен для отображения всех карточек товара-->
    {% for car in cars %}
    <div class="item">
        <div class="card">
            <img src="/media/{{ car.image }}" alt="{{ car.name }}">
            <div class="info">
                <h3>{{ car.name }}</h3>
                <p class="description">{{ car.short_description }}</p>
                <p class="price">{{ car.price }} ₽/день</p>
            </div>
            <a href="{% url 'cars:page_booking' car.id %}" class="book-btn">
                Подробнее
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not cars.has_previous %} disabled {% endif %}">
            <a class="page-link"
               href="
               {% if cars.has_previous %}
                       {% url 'cars:page' cars.previous_page_number %}?price={{ current_price|default:'' }}
               {% else %}
                 #
               {% endif %}"
               tabindex="-1" aria-disabled="true"><-</a>
        </li>

        {% for page in cars.paginator.page_range %}
        <li class="page-item {% if page == cars.number %} active {% endif %}">
            <a class="page-link" href="
                   {% url 'cars:page' page %}?price={{ current_price|default:'' }}">
                {{ page }}
            </a>
        </li>
        {% endfor %}

        <li class="page-item {% if not cars.has_next %} disabled {% endif %}">
            <a class="page-link"
               href="
               {% if cars.has_next %}
                       {% url 'cars:page' cars.next_page_number %}?price={{ current_price|default:'' }}
               {% else %}
                 #
               {% endif %}"
            >-></a>
        </li>
    </ul>
</nav>
{% endblock %}

